$family-monospace: Menlo, monospace;

$weight-light: 400;
$weight-normal: 500;
$weight-medium: 600;
$weight-semibold: 700;
$weight-bold: 800;

$navbar-height: 5rem;

// $tabs-toggle-link-border-width: 1px;
// $tabs-border-bottom-width: 1px;
// $tabs-toggle-link-border-color: #b5bbbf;

@import 'node_modules/bulmaswatch/minty/bulmaswatch';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.navbar {
  border-radius: 0;
}
.navbar-brand .navbar-item {
  padding-left: 18px;
  font-weight: $weight-medium;
}
